<h1>Edit {{this.name}}</h1>
<form action="/celebrities/{{id}}/update" method="post">
  <div class="form-group">
    <label for="name"><title></title></label>
    <input type="input" class="form-control" name="name" id="name" value="{{this.title}}">
  </div>
  <div class="form-group">
    <label for="occupation">genre</label>
    <input type="input" class="form-control" name="occupation" id="occupation" value="{{this.genre}}">
  </div>
  <div class="form-group">
    <label for="cacthPrase">plot</label>
    <input type="input" class="form-control" name="catchPhrase" id="catchPhrase" value="{{this.plot}">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>